<%- include("../includes/header.ejs") %>

<body>
          <!-- ##  NAVBAR  ##  -->
    <%- include("../includes/navbar") %>
    


    <div class="container"> <%- body %> </div>



          <!-- ##  FOOTER  ##  -->
    <%- include("../includes/footer.ejs") %>
    
          <!-- ##  FOOTER-NAV  ##  -->
    <%- include("../includes/footerNav.ejs") %>

    <script src= "js/1.js" ></script>
    

</body>
</html>
